:root {
  --font: rgba(0, 0, 0, 0.65);
  --secondary-font: rgb(220, 124, 124);
}

.grid {
  display: grid;
  font-size: 18px;
  grid-template-columns: 10% 90%;
  grid-template-areas: 'header header'
                       'aside main'
                       'aside foot';
}

body {
  color: var(--font);
  min-height: 100%;
  background-image: url(/background.png);
}

#__nuxt {
  background-color: rgba(210, 219, 226, 0.575);
  min-height: 100%;
}

#__layout {
  min-height: 100%;
}

header {
  grid-area: header;
  width: 100%;
  text-align: center;
}

header h1 {
  color: var(--secondary-font);
}

main {
  grid-area: main;
  padding: 0 2rem 2rem;
}

.ant-card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

aside {
  grid-area: aside;
  width: 100%;
  height: 100%;
  overflow: auto;
  text-align: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.nav__menu {
  height: 100%;
  border-right: 1px solid #e8e8e8;
}

.nav .nav__item.ant-menu-item {
  font-size: 18px;
}

.nav .nav__item.ant-menu-item:hover {
  color: var(--secondary-font);
}

.nav__menu .nav__item.ant-menu-item-selected {
  color: var(--secondary-font);
  background-color: rgb(255, 230, 230);
}

.nav__menu .nav__item.ant-menu-item:after {
  border-right-color: rgb(219, 95, 95);
}

footer {
  grid-area: foot;
  text-align: center;
  font-weight: 700;
  padding: 0.5rem 1rem;
}

.ant-progress-inner .ant-progress-text {
  font-size: 18px;
}

.page-enter-active, .page-leave-active {
  transition: opacity .5s
}
.page-enter, .page-leave-active {
  opacity: 0
}
