:root {
  --font: rgba(0, 0, 0, 0.65);
  --secondary-font: rgb(72, 193, 249);
  --backup: rgb(220, 124, 124);
}

body {
  color: var(--font);
  font-size: 18px;
  background-image: url(/background.png);
}

#__nuxt {
  background-color: rgba(210, 219, 226, 0.575);
  height: 100%;
}

#__layout {
  height: 100%;
}

.primary {
  height: 100%;
}

header {
  display: grid;
  background-color: #FFF;
  width: 100%;
  grid-template-columns: 12% 88%;
  margin-bottom: 1rem;
}

header a {
  color: var(--font);
  place-self: center;
  margin: 0;
}

header .logo {
  height: 15%;
  width: 15%;
}

header .nav__menu {
  justify-self: right;
}

main {
  padding: 0 2rem 2rem;
}

.ant-card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

aside {
  width: 100%;
  height: 100%;
  overflow: auto;
  text-align: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.nav__menu {
  height: 100%;
  border-right: 1px solid #e8e8e8;
}

.nav .nav__item.ant-menu-item {
  font-size: 18px;
}

.nav .nav__item.ant-menu-item:hover {
  color: var(--secondary-font);
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-weight: 700;
  padding: 0.5rem 1rem;
}

.ant-progress-inner .ant-progress-text {
  font-size: 18px;
}

.page-enter-active, .page-leave-active {
  transition: opacity .5s
}
.page-enter, .page-leave-active {
  opacity: 0
}
